.App {
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  z-index: 10;
}
.App-header {
  background-color: #222;
  height: 40px;
  padding: 20px;
  color: white;
  margin-bottom: 10px;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  /*fill: #eeeeee;*/
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: rgba(238, 93, 55, 0.3);
}
.react-calendar-heatmap .color-github-2 {
  fill: rgba(238, 93, 55, 0.5);
}
.react-calendar-heatmap .color-github-3 {
  fill: rgba(238, 93, 55, 0.7);
}
.react-calendar-heatmap .color-github-4 {
  fill: rgba(238, 93, 55, 0.8);
}
.react-calendar-heatmap .color-github-5 {
  fill: rgba(238, 93, 55, 1);
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}

